---
import { Icon } from "astro-iconify";
import ActivityCard from "../components/ActivityCard";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import type { AlbumData } from "../types/api";

const timeline = [
  { company: "Retro", role: "Marketing Intern", date: "Current" },
  { company: "Whop", role: "Developer Relations", date: "2023" },
  { company: "Basic.Space", role: "Community", date: "2021-2022" },
  { company: "OpenSea", role: "Community Manager", date: "2021" },
  { company: "Reincubate", role: "QA/Test Engineer", date: "2020" },
];

const albums = await fetch("https://jacklink.fly.dev/music/albums");
const albumsData = (await albums.json()) as AlbumData;
---

<Layout title="Jack LaFond" subtitle="20 y/o software engineer">
  <div class="mt-6 grid grid-cols-4 gap-4 md:gap-8">
    <div class="col-span-4 md:col-span-2">
      <Card title="Intro" titleIcon="tabler:face-id">
        Hi there! My name is Jack LaFond, and I&apos;m a 20 year old
        cybersecurity student / software engineer / production breaking
        enthusiast based in Florida! When I&apos;m not being massacred by school
        work, I often contribute to numerous open source projects, listen to
        unhealthy amounts music, take pretty pictures on my Fujifilm X100V, and
        climb plastic rocks.
      </Card>
    </div>
    <div class="col-span-4 md:col-span-1">
      <Card
        title="Blog"
        titleIcon={"tabler:3d-cube-sphere"}
        subtitle="and more words..."
        subtitleIcon={"tabler:arrow-up-right"}
      >
        <div class="space-y-3">
          <div class="flex items-center justify-between flex-shrink">
            <div>
              <p class="font-bold">Building a driving leaderboard</p>
              <div class="flex gap-2">
                <p class="truncate text-gray-10">Drive safe, kids!</p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
          <hr class="border-gray-6 m-16" />

          <div class="flex items-center justify-between">
            <div>
              <p class="font-bold">A letter to my younger self</p>
              <div class="flex gap-2">
                <p class="text-gray-10">
                  Thoughts on my 18th year of life for BuilderBook.
                </p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
          <hr class="border-gray-6 m-32" />

          <div class="flex items-center justify-between">
            <div>
              <p class="font-medium">2022 In Review</p>
              <div class="flex gap-1">
                <p class="truncate text-gray-10">
                  A look back at the last year.
                </p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
        </div>
      </Card>
    </div>
    <div class="col-span-4 md:col-span-1">
      <Card title="Stats" titleIcon="tabler:chart-arcs">
        <ActivityCard client:load />
      </Card>
    </div>
  </div>
  <div class="mt-6 grid grid-cols-4 gap-4 md:gap-8">
    <div class="col-span-4 md:col-span-2">
      <Card
        title="Projects"
        titleIcon={"tabler:3d-cube-sphere"}
        subtitle="and more projects..."
        subtitleIcon={"tabler:arrow-up-right"}
        subtitleHref={`/projects`}
      >
        <div>prioject</div>
        <div>prioject</div>
        <div>prioject</div>
        <div>prioject</div>
        <div>prioject</div>
      </Card>
    </div>
    <div class="col-span-4 md:col-span-2">
      <Card
        title="Blog"
        titleIcon={"tabler:3d-cube-sphere"}
        subtitle="and more words..."
        subtitleIcon={"tabler:arrow-up-right"}
      >
        <div class="space-y-4">
          <div class="flex items-center justify-between flex-shrink">
            <div>
              <p class="font-bold">Building a driving leaderboard</p>
              <div class="flex gap-2">
                <p class="truncate text-gray-10">Drive safe, kids!</p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
          <hr class="border-gray-6 m-16" />

          <div class="flex items-center justify-between">
            <div>
              <p class="font-bold">A letter to my younger self</p>
              <div class="flex gap-2">
                <p class="text-gray-10">
                  Thoughts on my 18th year of life for BuilderBook.
                </p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
          <hr class="border-gray-6 m-16" />

          <div class="flex items-center justify-between">
            <div>
              <p class="font-bold">2022 In Review</p>
              <div class="flex gap-2">
                <p class="truncate text-gray-10">
                  A look back at the last year.
                </p>
              </div>
            </div>
            <Icon
              name="tabler:arrow-up-right"
              size={20}
              class="flex-shrink-0"
            />
          </div>
        </div>
      </Card>
    </div>
  </div>
  <div class="mt-6 grid grid-cols-4 gap-4 md:gap-8">
    <div class="col-span-4 md:col-span-2">
      <Card title="Experience" titleIcon={"tabler:3d-cube-sphere"}>
        <div
          class="flex flex-col gap-y-4 justify-around relative overflow-hidden"
        >
          <div
            class="absolute top-3 left-[7px] h-full w-[2px] bg-gradient-to-b from-gray-6 to-gray-6/10 z-0"
          >
          </div>
          {
            timeline.map((item, i) => (
              <div class="flex items-center space-x-4 relative z-10">
                <div
                  class={`w-4 h-4 rounded-full flex items-center justify-center ${
                    item.date === "Current" ? "bg-green-11/70" : "bg-gray-11/70"
                  }`}
                >
                  <div
                    class={`w-3 h-3 animate rounded-full ${
                      item.date === "Current"
                        ? "bg-green-11 animate-pulse"
                        : "bg-gray-11"
                    }`}
                  />
                </div>
                <div>
                  <p class="font-medium text-sm text-gray-12">{item.company}</p>
                  <p class="text-sm text-gray-10">
                    {item.role}
                    {item.date ? ` • ${item.date}` : ""}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
      <div class="col-span-4 md:col-span-2"></div>
    </div>
  </div>
</Layout>
