---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="w-full h-full space-y-2">
  <div
    class="flex items-center justify-between text-gray-12 font-display text-2xl"
  >
    {title}
  </div>
  <div class="w-full grow text-gray-11"><slot /></div>
</div>
