---
import Icon from "astro-iconify";
import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div
      class="flex items-center justify-center bg-gray-50 dark:bg-neutral-900 relative z-10 p-8"
    >
      <main
        class="pt-8 justify-center items-center mx-auto h-full max-w-2xl container"
      >
        <div class="pb-8">
          <a
            href="/words"
            class="gap-2 flex text-gray-10 transition-colors duration-300 ease-in-out dark:hover:text-gray-12 hover:text-blue-10"
            ><Icon name="tabler:arrow-left" size={20} />go back
          </a>
          <div
            class="pt-6 prose prose-md dark:prose-invert prose-img:rounded-xl prose-headings:font-display prose-ul:-mb-4 prose-ul:space-y-1"
          >
            <slot />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
